:root {
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bff;
    --dark-color: #2e2f42;
    --success-color: #31d0aa;
    --text-color: #434455;
    --subtle-text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --modal-overlay-color: #2e2f4266; 
    --hero-background-color: #2e2f42b3;
    --white-background-color: #ffffff;
    --modal-background-color: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}


.address {
    font-style: normal;
}

.address-links .link:hover,
.address-links .link:focus,
.address-links .link:active,
.navi-links .link:hover,
.navi-links .link:focus,
.navi-links .link:active {
    color: var(--pressed-state-color);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    text-decoration: none;
}

.logo-header {
    color: var(--dark-color);
}

.logo-footer {
    color: var(--light-color)
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.navi-links .link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02px;
    color: var(--dark-color);
}

.address-links .link {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32;
}
.portfolio-button {
    font-family: inherit;
    background-color: var(--light-color);
    color: var(--primary-brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.portfolio-button:hover, 
.portfolio-button:focus {
    background-color: var(--primary-brand-color);
    color: var(--white-background-color);
    cursor: pointer;
}

.main_description {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.description {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

 
.section-one {
    background-color: var(--dark-color);
    
}

.section-one-text {
    color: var(--white-background-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
.button-index {
    font-family: inherit;
    background-color: var(--primary-brand-color);
    color: var(--white-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.button-index:hover,
.button-index:focus {
    background-color: var(--white-background-color);
    color: var(--primary-brand-color);
    cursor: pointer;
}

.section-two-header {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.section-two-text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.section-three-header {
    color: var(--dark-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72em;
    text-transform: capitalize; 
}
.section-team {
    background-color: var(--light-color);
   
}
.section-team-header {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.section-team-text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer {
    background-color: var(--dark-color); 
}

.footer-text {
    color: var(--light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}